@charset "UTF-8";
body {
  font-family: Impact, "微軟正黑體";
  color: #8b5b5b;
}

.btn-primary {
  background-color: #8b5b5b;
  color: antiquewhite;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 2px;
}