doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Yutan's portfolio
    link(rel='stylesheet', href='public/css/styles.css')
  body
    // header start
    // header>.container>h1{Yutan's portfolio}+nav>ul>li*4>a[href="#"]{文字}
    header.overflow-hidden
      .container
        a.icon-menu(href="#") menu
        h1 Yutan's portfolio
        nav
          ul.path
            li
              a(href='#') &#x95DC;&#x65BC;&#x6211;
            li
              a(href='design.html') &#x5E73;&#x9762;&#x4F5C;&#x54C1;
            li
              a(href='#') &#x7DB2;&#x9801;&#x8A2D;&#x8A08;&#x4F5C;&#x54C1;
            li
              a(href='#') &#x806F;&#x7D61;&#x6211;
      // header end
      img.img-fluid(src='https://picsum.photos/1920/480', alt='')
      // content start
      // .container>h1{最新作品一覽}+.row>.col-md-4*6>img-fluid+p.title>a[href="#"]{標題}^p.date{內容}
      .container
        h2.text-center &#x6700;&#x65B0;&#x4F5C;&#x54C1;&#x4E00;&#x89BD;
        .row
          // .col*7>a>img[src="https://picsum.photos/300/200"] class="img-fluid img-rounded"+p.title.text-center>a[href="#"]{作品標題}^p.date.text-center{2022-6-15}
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
            p.date.text-center 2022-6-15
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;2
            p.date.text-center 2022-6-15
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;3
            p.date.text-center 2022-6-15
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;4
            p.date.text-center 2022-6-15
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;5
            p.date.text-center 2022-6-15
          .col-6.col-md-4.col-lg-3
            a(href='#')
              img.img-fluid.img-rounded(src='https://picsum.photos/300/200', alt='')
            p.title.text-center
              a(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;6
            p.date.text-center 2022-6-15
          // footer>.container>.row>dl.col-3*4>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
      |  
      footer
        .container
          .row
            dl.col-3
              dt &#x6A19;&#x984C;01
              dd
                a(href='#') &#x9805;&#x76EE;01
              dd
                a(href='#') &#x9805;&#x76EE;02
              dd
                a(href='#') &#x9805;&#x76EE;03
              dd
                a(href='#') &#x9805;&#x76EE;04
            dl.col-3
              dt &#x6A19;&#x984C;02
              dd
                a(href='#') &#x9805;&#x76EE;01
              dd
                a(href='#') &#x9805;&#x76EE;02
              dd
                a(href='#') &#x9805;&#x76EE;03
              dd
                a(href='#') &#x9805;&#x76EE;04
            dl.col-3
              dt &#x6A19;&#x984C;03
              dd
                a(href='#') &#x9805;&#x76EE;01
              dd
                a(href='#') &#x9805;&#x76EE;02
              dd
                a(href='#') &#x9805;&#x76EE;03
              dd
                a(href='#') &#x9805;&#x76EE;04
            dl.col-3
              dt &#x6A19;&#x984C;04
              dd
                a(href='#') &#x9805;&#x76EE;01
              dd
                a(href='#') &#x9805;&#x76EE;02
              dd
                a(href='#') &#x9805;&#x76EE;03
              dd
                a(href='#') &#x9805;&#x76EE;04
          p.copyright.text-center copyright