$primary-color:rgb(77, 76, 76);
* {
    margin: 0;
    padding: 0;
  }
  
  ul, ol {
    list-style-type: none;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    width: 90%;
    margin: auto;
    max-width: 1140px;
  }
  
  header {
    background-color: #7a7a7a;
  }
  
  header > .container  h1 {
    padding-top: 30px;
    margin-bottom: 5px;
    color: #fcfcfc;
  }
  
  header > .container > h1 > a {
    color: #4d4c4c;
  }
  
  header > .container  nav > ul {
    display: flex;
    padding: 20px 0 20px 0;
  }
  
  header > .container nav > ul > li {
    margin-right: 20px;
  }
  
  header > .container  nav > ul > li > a {
    text-decoration: none;
    list-style: 60px;
    color: #b38c8c;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  
  .path li + li::before {
    content: "/";
    color: black;
    font-size: 1.5em;
    padding-right: 20px;
  }
  
  .img-fluid {
    width: 100%;
  }
  
  .img-rounded {
    border-radius: 8px;
  }
  
  .img-circle {
    border-radius: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-justify {
    text-align: justify;
  }
  // ===============================

  // ===============================

  .breadcrumb {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  width: 100%;
  }
  div a {
    color: #4d4c4c;
    text-decoration: none;
  }
  .w-20 {
width: 20%;
  }
  .w-80 {
    width: 80%;
  }
  .row {
    display: flex;
flex-wrap: wrap;
}
// .col-3 {
  
//   width: calc(100% / 4 - 30px);
//   margin: 0px 40px 40px 15px;
// }
// .col-4 {
//   width: calc(100% / 3 - 30px);
//   margin: 0px 15px 40px 15px;
//   // 上右下左
// }

// .col-9 {

//   width: calc(100% / 1.333333 - 30px)
//   // margin: 0px 15px 20px 15px;
  
// }

.col-3 {
  
  width: calc(100% / 4 - 30px);
  margin: 0px 40px 40px 15px;
}

@for $i from 1 through 12 {
  .col-#{$i}{
      --num: calc(12 / #{$i});
      width: calc(100% / var(--num) - 30px);
      margin: 0px 15px 40px 15px;
  }
}

@media(min-width:768px) {
@for $i from 1 through 12 {
  .col-md-#{$i}{
      --num: calc(12 / #{$i});
      width: calc(100% / var(--num) - 30px);
      margin: 0px 15px 40px 15px;
  }
}
}
@media(min-width:1200px) {
@for $i from 1 through 12 {
  .col-lg-#{$i}{
      --num: calc(12 / #{$i});
      width: calc(100% / var(--num) - 30px);
      margin: 0px 15px 40px 15px;
  }
}
}
.btn-primary {
  background-color: #a5a5a5;
  padding: 15px;
  color: black;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
}
.btn-primary:hover {
  background: rgb(107, 107, 107);
  color: #bdb3a7;
}
.text-primary{
color: #4d4c4c;
}
.img-wrap{
  position: relative;
  margin-bottom: 10px;
  // background-color: rgb(65, 65, 65);

}
.img-overlay{
  border-radius: 8px;
  display: block;
  overflow: hidden;
}
.img-wrap img{
vertical-align: top;
  transition: all 0.5s;
}
.img-wrap img:hover{
transform: scale(1.5);
}
.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  background-color: rgb(134, 106, 106);
  color: #fcfcfc;
  border-radius: 100%;
 left: -25px;
 top: -25px;
}


// 小於767以上執行
@media(max-width:767px){
  h1{
      width: 85%;
      background-color: rgb(117, 88, 88);
      // float: left;
  }
.icon-menu{
  // float: right;
  width: 15%;
  display: block;
  background-color: rgb(104, 74, 74);
  color: black;
  line-height: 60px;
  text-align: center;
}

header{
  position: relative;
}
header >.container nav{
  width: 100%;
  position: absolute;
  top: 60px;
  background-color: rgb(0, 0, 0);
  float: left;
}

header >.container nav.active{
  display: block;
}
header> .container  nav >ul{
display: block;
}
header > .container nav > ul > li {
width: 100%;
text-align: center;

}
.overflow-hidden{
  overflow: hidden;
}
}
// max-width 767 end//

// 超過768以上執行
@media(min-width:768px){
  .icon-menu{
      display: none;
      
  }
}
// min-width 768 end

//$i index
//迴圈寫法
//from through 從1開始到3

@for $i from 1 to 3 {
  .fz-#{$i}{
      font-size: $i em;
  }
}

@for $i from 1 to 3 {
.md-#{$i}{
  margin-bottom: $i * 1em;
}
}