$primary-color:rgb(77, 76, 76);
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style-type: none;
}
body{
    margin: 0;

}

.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;
    // background-color: rgb(82, 81, 81);
}
// ========================================
//頁首
// ========================================

header{
    background-color: rgb(155, 155, 155);
}
header>.container>h1{
padding-top: 30px;
margin-bottom: 5px;
color: rgb(252, 252, 252);
}
header>.container>h1>a{
    color:$primary-color
}

header>.container>nav>ul{
display: flex;
// justify-content: space-between;
padding: 20px 0 20px 0;
}
header>.container>nav>ul>li{
    margin-right: 20px;
}
header>.container>nav>ul>li>a{
    text-decoration: none;
    list-style: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.path li+li::before{
    content:'/';
    color:black;
    font-size: 1.5em;
    padding-right: 20px;
}

// ==========================================
// 內容區塊
// ==========================================

//圖片相關樣式//
.img-fluid{
    width: 100%;
}
.img-rounded{
border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
}


//文字相關樣式

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
//區塊相關樣式
.row{
    display: flex;
flex-wrap: wrap;

}
.col-3 {
  
    width: calc(100% / 4 - 30px);
    margin: 0px 40px 40px 15px;
  }
  
  @for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
  }
  
  @media(min-width:768px) {
  @for $i from 1 through 12 {
    .col-md-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
  }
  }
  @media(min-width:1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
  }
  }
.breadcrumb{
    display: flex;
}
@media(min-width:1200px) {
.order-1{
    order: -1;
}
}
// @media (min-width:768){
// // 四欄式
// .col-md-3{
//     width: calc(100%/ 4 - 30px);
//     margin: 0px 15px 40px 15px;
//     // 上右下左
// }
// // 三欄式
// .col-md-4{
//     width: calc(100%/ 3 - 30px);
//     margin: 0px 15px 40px 15px;
//     // 上右下左
// }
// // 二欄式
// .col-md-6{
//     width: calc(100%/ 2 - 30px);
//     margin: 0px 15px 40px 15px;
//     // 上右下左
// }
// .col-md-8 {
//     width: calc(100% / 1.5 - 30px);
//     margin: 0px 15px 40px 15px;
//     /*上右下左*/
//   }
//   .col-md-9 {
//     width: calc(100% / 1.333333 - 30px);
//     margin: 0px 15px 40px 15px;
//     /*上右下左*/
//   }
// }
.title a{
    color: rgb(63, 63, 63);
    font-size: 1.5em;
}
.date{
color: rgb(114, 148, 146);
}

h2{
    font-size: 2em;
    margin: 60px auto 30px auto;
}
div>p>a{
    text-decoration: none;
  margin-bottom: 10px;
}

footer{
    background-color: rgb(158, 158, 158);
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 1.2em;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    text-decoration: none;
    color: black;


}


// 小於767以上執行
@media(max-width:767px){
    h1{
        width: 85%;
        // background-color: rgb(117, 88, 88);
        float: left;
    }
.icon-menu{
    float: right;
    width: 15%;
    display: block;
    background-color: rgb(104, 74, 74);
    color: black;
    line-height: 60px;
    text-align: center;
}

header >.container > nav{
    width: 100%;
    float: left;
}
header >.container > nav.active{
    display: block;
}
header> .container > nav >ul{
display: block;
}
header > nav > ul > li {
width: 100%;
text-align: center;
}
.overflow-hidden{
    overflow: hidden;
}
}
// max-width 767 end//

// 超過768以上執行
@media(min-width:768px){
    .icon-menu{
        display: none;
    }
}
// min-width 768 end

//$i index
//迴圈寫法
//from through 從1開始到3

@for $i from 1 to 3 {
    .fz-#{$i}{
        font-size: $i em;
    }
}

@for $i from 1 to 3 {
.md-#{$i}{
    margin-bottom: $i * 1em;
}
}